<div class="row" id="bodyDiv" data-controller="joblist" data-action="user.role">
    <ul>
        {{#joblist}}
            <li class="jobItemStyle">
                <h2>{{position}}</h2>
                <h3>{{organization}}</h3>
                <strong>Description:</strong>
                <span>{{description}}</span>
            </li>
        {{/joblist}}
    </ul>
</div>
